<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask jQuery ajax Live Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
    <script>
        $(document).ready(function(){
            $("#livebox").on("input",function(e){
                $("#datalist").empty();
                $.ajax({
                    method:"post",
                    url:"/livesearch",
                    data:{text:$("#livebox").val()},
                    success:function(res){
                        var data = "<div class='list-group'>";
                        $.each(res,function(index,value){
                            data += "<p class='list-group-item list-group-item-action'>"+value+"</p>";
                        });
                        data += "</div>";
                        $("#datalist").html(data);
                    }
                });
            });
        });
        function form_setfocus() {
            document.getElementById("livebox").focus();
        }

        function init() {
            form_setfocus();
        }

        window.onload = init; /* <body onload="init()"> */
    </script> 
</head>
<body>
    <div class="container">
        <br/>
        <p><h2>Flask jQuery ajax Live Search</h2></p>
        <input type="text" id="livebox" name="text" class="form-control" placeholder="Find entry" autocomplete="off">
        <!-- dumb spacing hack... --></br></br></br></br>
        <p id="datalist"></p>
    </div>
</body>
</html>
